{{- $pages := where site.RegularPages "Section" "ne" "" -}} {{- /* exclude non-section pages, e.g. /content/about.md */ -}}
{{ if or ($pages.Next .) ($pages.Prev .) }}
  <nav class="page-nav">
    {{- with $pages.Next . }}
      <a class="page-nav__previous-link" href="{{ .RelPermalink }}">{{ i18n "previousPage" }}{{.Title}}</a>
    {{- end }}
    {{- with $pages.Prev . }}
      <a class="page-nav__next-link" href="{{ .RelPermalink }}">{{ i18n "nextPage" }}{{.Title}}</a>
    {{- end }}
  </nav>
{{ end }}