// On mobile, add little margins
.body {
  margin-left: $body-margin-left;
  margin-right: $body-margin-right;
}

// On desktop, use fixed width and center <body>
@media (min-width: $desktop-breakpoint) {
  .body {
    width: $body-max-width;
    margin-left: auto;
    margin-right: auto;
  }
}