*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

a {
  text-decoration: none;
}


// Task list
ul:has(>li>input[type="checkbox"]) {
  list-style-type: none;
  padding-inline-start: 1em;
}