// Global
.html {
  font-size: $base-font-size; // rem
}

.body {
  font-family: $font-family;
  line-height: $line-height;
  word-break: break-word;
}

.details-table-of-contents {
  margin-block: 1rem;

  >summary {
    font-weight: bolder;
    cursor: pointer;
  }
}

a {
  word-break: break-all;
}

blockquote {
  padding: 0.5rem;
}

hr {
  border: none;
  height: 1px;
}

figure {
  margin-inline: 0;
}

// Heading anchor link
.heading {
  &__anchor {
    display: none;
  }

  &:hover>&__anchor {
    display: inline;
  }
}

// Table
.table-wrapper {
  // Horizontal scrollbar for table
  overflow-x: auto;
  // Margin
  margin-block: 1rem;

  >table {
    // Override global word-break, don't break Chinese/Japanese/Korean (CJK) text
    word-break: keep-all;
    // Style
    border-collapse: collapse;

    td,
    th {
      padding: 0.5rem;
      text-align: start;
    }
  }
}

// Avoid overflow
svg,
img,
video,
iframe {
  max-width: 100%;
}

// Menu and language selector
.menu {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  // Selected link
  &__link {
    &--active {
      font-weight: bolder;
    }
  }
}

// Paginator
.pagination {
  display: flex;
  gap: 1rem;
}

.page-item.active {
  font-weight: bolder;
}

// Page nav
.page-nav {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

// Make [section post title / term post title] close to date info
.section-post-title,
.term-post-title {
  margin-block-start: 0;
}

// Make home post title close to summary
.home-post-title {
  margin-block-end: 0;
}

// Make summary close to home post title
.summary {
  margin-block-start: 0;
}

// Code block with specified language
.highlight {
  // Horizontal scrollbar
  overflow-x: auto;

  margin-block: 1rem;
}

// Code block [without specified language / indented with 4 spaces]
pre:not(.chroma) {
  // Horizontal scrollbar
  overflow-x: auto;
}