/* Styles should be mobile first. */

/*
CSS Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*
custom properties
*/
:root {
  --text-color: #222;
  --body-margin: 1rem;
  --border: 1px solid var(--text-color);
  --font-family: sans-serif;
  --line-height: 1.5;
  --link-color: #00e;
  --body-max-width: 768px;
}

// $body-breakpoint: calc(var(--body-max-width) + var(--body-margin) * 2) ;
$body-breakpoint: 800px;

/*
global styles
*/
body {
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin-left: var(--body-margin);
  margin-right: var(--body-margin);
}

header {
  border-bottom: var(--border);
  margin-bottom: var(--body-margin);
}

footer {
  border-top: var(--border);
  margin-top: var(--body-margin);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

// center header
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  >nav>ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;

    // menu
    >li>a {
      background-color: #eee;
      border-radius: 0.3rem;
      padding: 0.3rem;

      &.active {
        text-decoration-line: underline;
      }
    }
  }
}

// stretch <main> to avoid additional space below <footer>
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; // vh for old browsers that don't support dvh
  min-height: 100dvh; // dvh for avoiding scrollbar on mobile browsers
}

// center footer
footer {
  display: flex;
  justify-content: center;
}

/*
desktop styles
*/
@media (min-width: $body-breakpoint) {
  body {
    width: var(--body-max-width);
    margin-left: auto;
    margin-right: auto;
  }
}