<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partial "head/head-start.html" . }}
{{ partialCached "head/scss.html" . }}
{{ partial "head/favicon.html" . }}
{{ partial "head/description.html" . }}
{{ partial "opengraph.html" . }} {{/* embedded template */}}
{{ partial "schema.html" . }} {{/* embedded template */}}
{{ partial "head/rss_link.html" . }}
{{ partial "head/head-end.html" . }}