*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

a {
  text-decoration: none;
}

// List
.menu__list,
.translation-list,
.pagination {
  list-style-type: none;
  padding-inline-start: 0;
}

// Task list
ul:has(>li>input[type="checkbox"]) {
  list-style-type: none;
  padding-inline-start: 1em;
}

blockquote {
  margin: 0;
}