{{ define "main" }}
{{- /* only paginate section */ -}}
{{ if eq .Kind "section"}}
{{ $pages := .Pages }}
{{ $sectionPagerSize := or site.Params.sectionPagerSize 10 }}
{{ $paginator := .Paginate $pages $sectionPagerSize }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range $paginator.Pages }}
    {{- /* show date and lastmod */ -}}
    {{ partial "main/dates.html" . }}
    <h2 class="section-post-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  {{ end }}
  <nav class="paginator">
  {{- template "_internal/pagination.html" . }}
  </nav>
{{- /* sort taxonomy by LinkTitle */ -}}
{{ else if eq .Kind "taxonomy" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages.ByLinkTitle }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  {{ end }}
{{- /* term */ -}}
{{ else }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages }}
    {{ partial "main/dates.html" . }}
    <h2 class="term-post-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  {{ end }}
{{ end }}
{{ end }}
