{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format (or site.Params.DateFormat "2006-01-02") }}
  {{ $lastmodMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $lastmodHuman := .Lastmod | time.Format (or site.Params.DateFormat "2006-01-02") }}
  <time class="published-date" datetime="{{ $dateMachine }}"
    >{{ $dateHuman }}</time
  ><time class="lastmod-date" datetime="{{ $lastmodMachine }}"
    >{{ printf (i18n "lastmod") $lastmodHuman }}</time
  >

  {{ partial "i18n-list.html" . }}

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
{{ end }}
