:root {
  /* Font */
  --font-family: sans-serif;
  --base-font-size: 18px;
  --line-height: 1.5;

  /* Layout */
  --body-margin-left: 16px;
  --body-margin-right: 16px;
  --body-max-width: 768px;
  --desktop-breakpoint: calc(
    var(--body-margin-left) +
    var(--body-max-width) +
    var(--body-margin-right)
  );

  /* Color, see https://github.com/morhetz/gruvbox */

  /* Light theme */
  --background-color-light: #fbf1c7;
  --background-color1-light: #ebdbb2;
  --foreground-color-light: #3c3836;
  --foreground-color3-light: #665c54;
  --accent-color-light: #af3a03;

  /* Dark theme */
  --background-color-dark: #282828;
  --background-color1-dark: #3c3836;
  --foreground-color-dark: #ebdbb2;
  --foreground-color3-dark: #bdae93;
  --accent-color-dark: #fe8019;
}
